In [6]:
# Initial imports
import pandas as pd
import hvplot.pandas
from sqlalchemy import create_engine
import pickle

In [7]:
# create a connection to the database using the create_engine function
engine = create_engine("postgresql://postgres:2242020@localhost:5432/russell3000stockdata")

In [8]:
# Define a query that select all rows from the animals_all table
query = "SELECT * FROM ticker_data"

# Load data into the DataFrame using the read_sql() method from pandas
tickers_df = pd.read_sql(query, engine)

In [10]:
ticker = "AAPL"
start = '2006-01-01'
end = '2018-12-31'

In [107]:
pickle_file = f"../../data/rawdata/stock-data-by-range/{start}_{end}/{ticker}.pickle"

In [123]:
df = pickle.load( open( pickle_file, "rb" ) )

In [124]:
df.reset_index(inplace = True)
df['ticker'] = ticker
df.drop(columns=['Adj Close'], inplace= True)
df['year'] = df['Date'].dt.year
df.rename(columns={'Date':'trading_day', 'High':'high', 'Low': 'low', 'Open': 'open', 'Close':'close', 'Volume':'volume'}, inplace=True)
df.to_sql('ticker_data', con=engine, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "ticker_data" does not exist
LINE 1: INSERT INTO ticker_data (index, trading_day, high, low, open...
                                 ^

[SQL: INSERT INTO ticker_data (index, trading_day, high, low, open, close, volume, ticker, year) VALUES (%(index)s, %(trading_day)s, %(high)s, %(low)s, %(open)s, %(close)s, %(volume)s, %(ticker)s, %(year)s)]
[parameters: ({'index': 0, 'trading_day': datetime.datetime(2006, 1, 3, 0, 0), 'high': 10.678571701049805, 'low': 10.321428298950195, 'open': 10.34000015258789, 'close': 10.678571701049805, 'volume': 201808600.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 1, 'trading_day': datetime.datetime(2006, 1, 4, 0, 0), 'high': 10.85428524017334, 'low': 10.642857551574707, 'open': 10.732856750488281, 'close': 10.710000038146973, 'volume': 154900900.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 2, 'trading_day': datetime.datetime(2006, 1, 5, 0, 0), 'high': 10.699999809265137, 'low': 10.535714149475098, 'open': 10.6899995803833, 'close': 10.625714302062988, 'volume': 112355600.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 3, 'trading_day': datetime.datetime(2006, 1, 6, 0, 0), 'high': 10.95714282989502, 'low': 10.649999618530273, 'open': 10.75, 'close': 10.899999618530273, 'volume': 176114400.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 4, 'trading_day': datetime.datetime(2006, 1, 9, 0, 0), 'high': 11.028571128845215, 'low': 10.819999694824219, 'open': 10.96142864227295, 'close': 10.864285469055176, 'volume': 168760200.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 5, 'trading_day': datetime.datetime(2006, 1, 10, 0, 0), 'high': 11.69857120513916, 'low': 10.832857131958008, 'open': 10.892857551574707, 'close': 11.55142879486084, 'volume': 569967300.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 6, 'trading_day': datetime.datetime(2006, 1, 11, 0, 0), 'high': 12.114285469055176, 'low': 11.798571586608887, 'open': 11.977143287658691, 'close': 11.985713958740234, 'volume': 373448600.0, 'ticker': 'AAPL', 'year': 2006}, {'index': 7, 'trading_day': datetime.datetime(2006, 1, 12, 0, 0), 'high': 12.342857360839844, 'low': 11.945713996887207, 'open': 12.138571739196777, 'close': 12.041428565979004, 'volume': 320202400.0, 'ticker': 'AAPL', 'year': 2006}  ... displaying 10 of 3271 total bound parameter sets ...  {'index': 3269, 'trading_day': datetime.datetime(2018, 12, 28, 0, 0), 'high': 158.52000427246094, 'low': 154.5500030517578, 'open': 157.5, 'close': 156.22999572753906, 'volume': 42291400.0, 'ticker': 'AAPL', 'year': 2018}, {'index': 3270, 'trading_day': datetime.datetime(2018, 12, 31, 0, 0), 'high': 159.36000061035156, 'low': 156.47999572753906, 'open': 158.52999877929688, 'close': 157.74000549316406, 'volume': 35003500.0, 'ticker': 'AAPL', 'year': 2018})]
(Background on this error at: http://sqlalche.me/e/f405)

In [122]:
df

,trading_day,high,low,open,close,volume,ticker,year
0,2006-01-03,10.678572,10.321428,10.340000,10.678572,201808600.0,AAPL,2006
1,2006-01-04,10.854285,10.642858,10.732857,10.710000,154900900.0,AAPL,2006
2,2006-01-05,10.700000,10.535714,10.690000,10.625714,112355600.0,AAPL,2006
3,2006-01-06,10.957143,10.650000,10.750000,10.900000,176114400.0,AAPL,2006
4,2006-01-09,11.028571,10.820000,10.961429,10.864285,168760200.0,AAPL,2006
5,2006-01-10,11.698571,10.832857,10.892858,11.551429,569967300.0,AAPL,2006
6,2006-01-11,12.114285,11.798572,11.977143,11.985714,373448600.0,AAPL,2006
7,2006-01-12,12.342857,11.945714,12.138572,12.041429,320202400.0,AAPL,2006
8,2006-01-13,12.287143,12.085714,12.141429,12.227143,194076400.0,AAPL,2006
9,2006-01-17,12.340000,11.981428,12.242857,12.101429,208905900.0,AAPL,2006
10,2006-01-18,12.007143,11.692857,11.868571,11.784286,300159300.0,AAPL,2006
11,2006-01-19,11.665714,11.248571,11.607142,11.291429,423962000.0,AAPL,2006
12,2006-01-20,11.434286,10.832857,11.325714,10.870000,283689700.0,AAPL,2006
13,2006-01-23,11.365714,10.857142,10.871428,11.095715,264932500.0,AAPL,2006
14,2006-01-24,11.345715,10.824286,11.251429,10.862857,285563600.0,AAPL,2006
15,2006-01-25,11.071428,10.464286,11.055715,10.600000,318946600.0,AAPL,2006
16,2006-01-26,10.775714,10.275714,10.647142,10.332857,295346800.0,AAPL,2006
17,2006-01-27,10.514286,10.157143,10.421429,10.290000,238466200.0,AAPL,2006
18,2006-01-30,10.942857,10.124286,10.167143,10.714286,349600300.0,AAPL,2006
19,2006-01-31,10.905714,10.535714,10.785714,10.787143,228385500.0,AAPL,2006
20,2006-02-01,10.922857,10.662857,10.707143,10.774285,130296600.0,AAPL,2006
21,2006-02-02,10.765715,10.292857,10.728572,10.300000,176830500.0,AAPL,2006
22,2006-02-03,10.398571,10.148571,10.320000,10.264286,173030900.0,AAPL,2006
23,2006-02-06,10.358571,9.534286,10.288571,9.614285,412941900.0,AAPL,2006
24,2006-02-07,9.925714,9.525714,9.752857,9.657143,347207700.0,AAPL,2006
25,2006-02-08,9.868571,9.428572,9.784286,9.830000,238278600.0,AAPL,2006
26,2006-02-09,9.890000,9.218572,9.871428,9.278571,287441000.0,AAPL,2006
27,2006-02-10,9.667143,8.985714,9.311429,9.615714,440119400.0,AAPL,2006
28,2006-02-13,9.535714,9.234285,9.518572,9.244286,220874500.0,AAPL,2006
29,2006-02-14,9.728572,9.285714,9.300000,9.662857,290234700.0,AAPL,2006
...,...,...,...,...,...,...,...,...
3241,2018-11-15,191.970001,186.899994,188.389999,191.410004,46478800.0,AAPL,2018
3242,2018-11-16,194.970001,189.460007,190.500000,193.529999,36928300.0,AAPL,2018
3243,2018-11-19,190.699997,184.990005,190.000000,185.860001,41925300.0,AAPL,2018
3244,2018-11-20,181.470001,175.509995,178.369995,176.979996,67825200.0,AAPL,2018
3245,2018-11-21,180.270004,176.550003,179.729996,176.779999,31124200.0,AAPL,2018
3246,2018-11-23,176.600006,172.100006,174.940002,172.289993,23624000.0,AAPL,2018
3247,2018-11-26,174.949997,170.259995,174.240005,174.619995,44998500.0,AAPL,2018
3248,2018-11-27,174.770004,170.880005,171.509995,174.240005,41387400.0,AAPL,2018
3249,2018-11-28,181.289993,174.929993,176.729996,180.940002,46062500.0,AAPL,2018
3250,2018-11-29,182.800003,177.699997,182.660004,179.550003,41770000.0,AAPL,2018
3251,2018-11-30,180.330002,177.029999,180.289993,178.580002,39531500.0,AAPL,2018
3252,2018-12-03,184.940002,181.210007,184.460007,184.820007,40802500.0,AAPL,2018
3253,2018-12-04,182.389999,176.270004,180.949997,176.690002,41344300.0,AAPL,2018
3254,2018-12-06,174.779999,170.419998,171.759995,174.720001,43098400.0,AAPL,2018
3255,2018-12-07,174.490005,168.300003,173.490005,168.490005,42281600.0,AAPL,2018
3256,2018-12-10,170.089996,163.330002,165.000000,169.600006,62026000.0,AAPL,2018
3257,2018-12-11,171.789993,167.000000,171.660004,168.630005,47281700.0,AAPL,2018
3258,2018-12-12,171.919998,169.020004,170.399994,169.100006,35627700.0,AAPL,2018
3259,2018-12-13,172.570007,169.550003,170.490005,170.949997,31898600.0,AAPL,2018
3260,2018-12-14,169.080002,165.279999,169.000000,165.479996,40703700.0,AAPL,2018
3261,2018-12-17,168.350006,162.729996,165.449997,163.940002,44287900.0,AAPL,2018
3262,2018-12-18,167.529999,164.389999,165.380005,166.070007,33841500.0,AAPL,2018
3263,2018-12-19,167.449997,159.089996,166.000000,160.889999,49047300.0,AAPL,2018
3264,2018-12-20,162.110001,155.300003,160.399994,156.830002,64773000.0,AAPL,2018
3265,2018-12-21,158.160004,149.630005,156.860001,150.729996,95744600.0,AAPL,2018
3266,2018-12-24,151.550003,146.589996,148.149994,146.830002,37169200.0,AAPL,2018
3267,2018-12-26,157.229996,146.720001,148.300003,157.169998,58582500.0,AAPL,2018
3268,2018-12-27,156.770004,150.070007,155.839996,156.149994,53117100.0,AAPL,2018
3269,2018-12-28,158.520004,154.550003,157.500000,156.229996,42291400.0,AAPL,2018
3270,2018-12-31,159.360001,156.479996,158.529999,157.740005,35003500.0,AAPL,2018