In [44]:
import pandas as pd
import datetime
import pickle
import os.path
import csv
from pathlib import Path

In [203]:
r3k_csv = Path("./r3k_returns_pandas.csv")
r3k_df = pd.read_csv(r3k_csv, parse_dates=True, infer_datetime_format=True)
r3k_df.head()

,Date,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Utilities
0,1/31/1999,0.088633,0.045275,-0.026888,-0.056953,0.011041,-0.004394,0.007010,0.152047,-0.039150,-0.063299
1,2/28/1999,-0.027471,-0.003462,-0.039561,-0.033973,0.006529,-0.003032,-0.029693,-0.120986,-0.000627,-0.036748
2,3/31/1999,-0.011020,0.040829,-0.015490,0.151233,0.030270,0.023315,0.033120,0.086232,0.019981,-0.019142
3,4/30/1999,0.049122,0.046063,0.011206,0.157663,0.068831,-0.056520,0.082948,0.018787,0.235081,0.074431
4,5/31/1999,0.006260,-0.039077,0.011386,-0.023330,-0.044312,-0.019331,-0.027086,-0.009158,-0.059880,0.063941

In [204]:
annual_returns = pd.DataFrame(columns=['Communication Services','Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', 'Health Care', 'Industrials', 'Information Technology', 'Materials', 'Utilities'])
annual_returns

Empty DataFrame
Columns: [Communication Services, Consumer Discretionary, Consumer Staples, Energy, Financials, Health Care, Industrials, Information Technology, Materials, Utilities]
Index: []

In [205]:
r3k_df['Year'] = pd.DatetimeIndex(r3k_df['Date']).year
r3k_df = r3k_df.set_index('Date')
r3k_df.tail()

,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Utilities,Year
Date,,,,,,,,,,,
4/30/2019,0.063912,0.053800,0.024748,-0.001252,0.085841,-0.027031,0.046559,0.064470,0.031191,0.011862,2019
5/31/2019,-0.057190,-0.079088,-0.041575,-0.115715,-0.069890,-0.026263,-0.076827,-0.086961,-0.092439,-0.012461,2019
6/30/2019,0.040305,0.077355,0.051657,0.088266,0.065695,0.070831,0.083045,0.087332,0.119948,0.036577,2019
7/31/2019,0.035345,0.011088,0.024077,-0.025274,0.023993,-0.013283,0.007480,0.035808,-0.004436,-0.004758,2019
8/31/2019,-0.017846,-0.016263,0.016144,-0.087495,-0.049324,-0.011349,-0.030729,-0.021318,-0.036237,0.042514,2019

In [206]:
for year in range (2007,2019):
    year_df = r3k_df[r3k_df['Year']==year]
    year_df = year_df.drop(columns='Year')
    cumulative_returns = (1 + year_df).cumprod() - 1
    one_year = cumulative_returns.tail(1)
    annual_returns = pd.concat([annual_returns, one_year], axis="rows", sort=False)

annual_returns

,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Utilities
12/31/2007,0.100082,-0.116690,0.141322,0.319712,-0.178250,0.078668,0.123290,0.151293,0.263331,0.175534
12/31/2008,-0.333180,-0.386964,-0.165358,-0.372130,-0.498401,-0.234390,-0.397615,-0.428643,-0.467540,-0.284759
12/31/2009,0.127192,0.466376,0.157036,0.179100,0.144405,0.218293,0.218114,0.617853,0.532234,0.125084
12/31/2010,0.177596,0.301419,0.143943,0.218473,0.136881,0.060079,0.273458,0.127953,0.252244,0.072631
12/31/2011,0.041728,0.034449,0.139213,0.034239,-0.139579,0.105729,-0.019898,0.006079,-0.093707,0.190291
12/31/2012,0.187961,0.247561,0.109007,0.038748,0.262133,0.194173,0.171576,0.139592,0.174888,0.021123
12/31/2013,0.148788,0.444878,0.275541,0.258564,0.327760,0.427860,0.422265,0.308889,0.241884,0.149537
12/31/2014,0.024901,0.091848,0.159135,-0.100120,0.143674,0.251002,0.080042,0.178351,0.057194,0.268776
12/31/2015,0.033191,0.060373,0.057642,-0.232142,-0.006560,0.071586,-0.038972,0.053929,-0.102470,-0.050540
12/31/2016,0.238195,0.070985,0.060193,0.268554,0.249417,-0.032580,0.204738,0.138231,0.216187,0.176791
12/31/2017,-0.007861,0.228180,0.126755,-0.020645,0.200701,0.232589,0.214059,0.370433,0.233477,0.125067
12/31/2018,-0.138420,-0.018293,-0.082773,-0.198525,-0.128128,0.053288,-0.141158,0.004713,-0.173647,0.045044